
Sample/Saved/AutoScreenshot.png
Speedy/Saved/Logs/Speedy.log
Speedy/Saved/Logs/Speedy.log
Speedy/Saved/Logs/Speedy-backup-2017.08.11-10.41.15.log
Speedy/Saved/Config/Windows/EditorPerProjectUserSettings.ini
